{% load static %}
<p>Наши соц. сети</p>

<div class="partners_links">
    <div class="vk">
        <a href="https://vk.com">
            <img src="{% static 'images/vk.png'%}" alt="">
            <p>Вконтакте</p>
        </a>
    </div>
    <div class="facebook">
        <a href="https://facebook.com">
            <img src="{% static 'images/facebook.png'%}" alt="">
            <p>Фейсбук</p>
        </a>
    </div>
    <div class="instagram">
        <a href="https://instagram.com">
            <img src="{% static 'images/instagram.png'%}" alt="">
            <p>Инстаграм</p>
        </a>
    </div>
</div>
    