{% extends "layout.html" %}
{% load static %}
{% block title %}Видео{% endblock %}
{% block content %}
    <div class="video_header">
        <p>Актуальные видео</p>
    </div>
    {% for video in videos %}
        <div class="videos_wrapper">
            <div class="videos_name">
                <P>{{video.name}}</P>
            </div>
            <div class="video_player">
                <video width="640" height="360" controls>
                    <source src="{{video.video_file.url}}" type="video/mp4">
                </video>
            </div>
    {% endfor %}    
    </div>
{% endblock %}